body {
	background: url('../images/paper_fibers.png');
}
h1 {
	font-weight: 900;
	font-size: 3em;
    color: #fff;
    margin-top: 15px;
}
.main-content {
	margin-top: 100px; 
}

/***************************
Create todo fields
***************************/
.form-horizontal {
    margin-left: -30px;
    width: 110%;
}
.add-todo-fields {
	float: right;
}
.glyphicon-plus {
	margin: 10px 0 0 5px;
}
.input-sm, .form-horizontal .form-group-sm .form-control {
    border-radius: 5px;
}
.submit {
    height: 90px;
    font-size: 50px;
    margin-left: 48%;
}

/***************************
Navigation
***************************/
.nav {
    margin: 10px 0px 0px -23px;
}
.navbar {
    margin: 0;
    padding: 0;
    height: 70px;
    background: url('../images/concrete_wall.png');
    border-right: 0px;
    border-left: 0px;
}
a.disabled {
	color:gray; 
	pointer-events: none; 
	font-style: italic;
}
.bold {
	font-weight: 900;
}

/***************************
Todo list
***************************/
.well {	
	background: url('../images/linedpaper.png');
}
.list-group {
	margin-top: 14px;
}
.list-group-item {
	border-color: #d6d6c6; 
	border-style: none;
	border-top-style: dashed;
	border-bottom-style: dashed;
	font-size: 1.4em;
	background: rgba(0,0,0,0);
}
.list-group-item span:first-of-type {
	margin-right: 10px;
}
.struck span:first-of-type{
	text-decoration: line-through; 
	color: #999;
}
.remove {
	float: right;
	font-size: 0.8em;
	opacity: 0.8;
}

/***************************
Tags
***************************/
.label {
	opacity: 0.8;
}
#taglist {
	font-size: 9px;
	margin-left: -10px;
}
.tags-head {
	background: url('../images/concrete_wall.png');
	color: white;
}
#taglist li {
	border: 1px solid #E7E7E7;
    word-wrap: break-word;
}
#taglist li:nth-child(even) {  
  background: #eeefff;
}
#noTodos {
		pointer-events: none; 
}
.badge {
	opacity: 0.7;
}

.btn {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: none;
}
