.struck span:first-of-type{
	text-decoration: line-through; 
	color: #999;
}
.remove {
	float: right;
}
body {
	padding: 10px;
	background: url('../images/paper_fibers.png');
}
.list-group {
	margin-top: 14px;
}
.list-group-item {
	background: #fffefe;
	border-color: #888; 
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-right-style: none; 
	border-left-style: none;
}
.list-group-item:first-child {
	border-top: 2px solid #99B3FF;
}
.list-group-item:last-child {
	border-bottom: 2px solid #99B3FF;
 }
h1 {
	font-weight: 900;
	margin-left: 2%;
}
.wrapper {
	width: 65%; 
	margin: auto;
}
a.disabled {
	color:gray; 
	pointer-events: none; 
	font-style: italic;
}
.label {
	opacity: 0.6;
	color: purple;
}
#taglist {
	font-size: 0.85em;
}
#taglist li {
	border: none;
}