body {
	background: url('../images/paper_fibers.png');
}
a.disabled {
	color:gray; 
	pointer-events: none; 
	font-style: italic;
}

.remove {
	float: right;
	font-size: 0.8em;
	opacity: 0.8;
}
h1 {
	font-weight: 900;
	font-size: 3em;
    color: #fff;
}
.bold {
	font-weight: 900;
}

/***************************
Todo list
***************************/
.list-group {
	margin-top: 14px;
}
.list-group-item {
	border-color: #d6d6c6; 
	border-style: none;
	border-top-style: dashed;
	border-bottom-style: dashed;
	font-size: 1.4em;
	background: rgba(0,0,0,0);
}
.well {	background: url('../images/linedpaper.png');
}

.list-group-item span:first-of-type {
	margin-right: 10px;
}
.struck span:first-of-type{
	text-decoration: line-through; 
	color: #999;
}

/***************************
Tags
***************************/
.label {
	opacity: 0.8;
}
#taglist {
	font-size: 9px;
}
#taglist li {
	border: 1px solid #E7E7E7;
}
#taglist li:nth-child(even) {  
  background: #eeefff;
}
#noTodos {
		pointer-events: none; 
}
.nav {
	margin-top: 35px;
    float: right;
/*    background: #222;*/
}
.nav-pills a:hover {
    background: #666;
}
.navbar {
    background: url('../images/concrete_wall.png');
}
.submit {
    height: 85px;
    font-size: 50px;
}

.main-content {
	margin-top: 140px; 
}
.badge {
	opacity: 0.7;
}
.tags-head {
	background: url('../images/concrete_wall.png');
	color: white;
}