<!doctype html>
<html>
  <head>
    <meta charset="utf-8">  
    <title>testing Backbone.js</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="components/jquery.js"></script>
    <script src="components/jquery-ui.js"></script>
    <script src="components/underscore.js"></script>
    <script src="components/backbone.js"></script>
    <script src="components/backbone.localStorage.js"></script>
    <script src="components/bootstrap.js"></script>
    <script type="text/template" id="todo-template">
      <div <%
          if (done) {
            print('class="struck"')
          };
        %>
        >
        <input class="toggle" type="checkbox" <%
          if (done) {
            print('checked')
          };
        %>
        >
        <span>
        <%- todoItem %>
        </span>
        <% _.each(tags, function(t){
            print('<span class="label label-default">'+t+'</span> ');
        })%>
        <button class="btn btn-danger btn-xs glyphicon glyphicon-remove remove" href="#"></button>
      </div>
    </script>
    <script type="text/template" id="tag-template">
    <%- tagName %> <span class="badge"><%- tagCount %></span>
    </script>
  </head>
  <body>
  <div class="wrapper">
  <div class="h1wrapper">
  <h1>What todo</h1>
  </div>
    <div class="form-group">
  <div class="input-group">
    <input type="text" placeholder="todo here" id="todofield" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-primary disabled submit" type="button">add todo</button>
      
  </div>
  <input type="text" placeholder="(optional) tags here, deliminate with commas" id="tagsfield" class="form-control">
</div>
    <div class="col-md-12">
      <a href="#done" id="filterDone">done</a> |
      <a href="#todo" id='filterNotDone'>not done</a> | 
      <a href="#" id='showAll'>all</a>
    </div>
    <ul id="taglist" class="list-group col-md-2">
    </ul>

    <ul id="todoul" class="list-group col-md-10"></ul>

</div>

    <script src="js/app.js"></script>
    <script src="js/models/todo.js"></script>
    <script src="js/models/tag.js"></script>
    <script src="js/collections/todos.js"></script>
    <script src="js/collections/tags.js"></script>
    <script src="js/views/tagview.js"></script>
    <script src="js/views/todoview.js"></script>
    <script src="js/views/mainview.js"></script>
    <script src="js/routers/router.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#todofield').keyup(function() {
        if ($(this).val() !== "") {
          $('.submit').removeClass('disabled');
        } else {
          $('.submit').addClass('disabled');
        }
      });
    });
    </script>
  </body>
</html>