Flask==0.10.1
Flask-API==0.6.2
Flask-SQLAlchemy==0.16
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.7.9
Tempita==0.5.2
Werkzeug==0.9.6
argparse==1.2.1
decorator==3.4.0
gunicorn==19.1.1
itsdangerous==0.24
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
psycopg2==2.5