<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-items">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="#" class="title">TodoWhat</a>
          </div>
              <% if (!guest) { %>
                <a href="/logout" class="logout pull-right visible-md visible-lg">Logout</a>
              <% } else { %>
                <a href="/login" class="logout pull-right visible-md visible-lg">Login or create an account</a>
              <% } %>
          <div class="collapse navbar-collapse" id="menu-items">
              <ul class="nav navbar-nav">
                  <li class="dropdown visible-sm visible-xs" id="mobilenavlinks">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     FILTER STATUS
                    </a>
                    <ul class="dropdown-menu mobilelinks" role="menu">
                    </ul>
                  </li>

                  <li class="dropdown visible-sm visible-xs">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        TAGS<span class="glyphicon glyphicon-tags"></span>
                      </a>
                      <ul class="dropdown-menu taglist" role="menu">
                      </ul>
                  </li>

                  <li class="dropdown visible-sm visible-xs">
                  <% if (guest) { %>
                    <a href="/login">LOGIN or REGISTER</a>
                  <% } else { %>
                    <a href="/logout">LOGOUT</a>
                  <% } %>
                  </li>
              </ul>
          </div>
      </div>


  </nav>
