<div <% if (done) {%> class="struck" <%} %> >
	<span class="handle glyphicon glyphicon-move"></span>
	<label for="<%=checkboxID%>" class="checkbox">
	<input class="toggle" type="checkbox" id="<%=checkboxID%>" class="css-checkbox" <% if (done) {%> checked <%} %> />
	<span></span>
	</label>
	<span class="todo-item">
	<%= todoItem %>
	</span>
	<% if (reminder) { %>
	<span class="glyphicon glyphicon-time reminder-indicator"></span>
	<% } %>
	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash remove pull-right" href="#"></button>
		<!-- Button trigger modal -->

	<span class="edit"></span>

	<% tags.forEach(function(tag){ %>
		<span class="label label-info"><%= tag %></span>
	<% }) %>
</div>
