<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <title>Activate your TodoWhat account</title>
</head>

<body bgcolor="#FAFAFA">
    <table border="0" cellpadding="0" cellspacing="0" id="main-table" style=
    "padding: 1em 0em 0em 0em;" width="100%">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" id=
                "email-container" style=
                "background: #ffffff; border: 1px solid #c6c6c6;" width="600">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0"
                            id="email-header" style="background: #153643;"
                            width="100%">
                                <tr>
                                    <td align="center" valign="top">
                                        <h1 id="title" style=
                                        "font-family: Arial; color: #fafafa; margin-top: 0px; margin-bottom: 0px; padding-top: 0.7em; padding-bottom: 0.7em; font-weight: 900; font-size: 2.2em;">
                                        TodoWhat</h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="2" cellspacing="0"
                            id="email-body" width="100%">
                                <tr>
                                    <td align="left" style=
                                    "padding: 0.4em 0em 0.4em 1.2em;" valign=
                                    "top">
                                        <h3 style=
                                        "font-family: Arial; font-size: 1.2em; font-weight: 900; color: #5c5a5b">
                                        Just one click away from knowing what
                                        todo...</h3>

                                        <p style=
                                        "color: #555; font-family: sans-serif;">
                                        To activate your TodoWhat account,
                                        please click <a href="{{link}}" style=
                                        "text-decoration: none; color: #3385FF; font-">
                                        here:</a></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "background-color:cornflowerblue; border:1px solid #efefef; border-radius:5px;">
                                        <tr>
                                                <td align="center" style=
                                                "color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold;padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;"
                                                valign="middle">
                                                    <a href="{{link}}" style=
                                                    "color:#FFFFFF; text-decoration:none;"
                                                    target="_blank">Activate
                                                    your account</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" style=
                                    "padding: 1em 1.2em 0em 1.2em;" valign=
                                    "top">
                                        <p style=
                                        "color: #555; font-family: sans-serif;">
                                        Once that's done you'll be able to log
                                        in and keep track of your tasks
                                        wherever you are, with any device.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0"
                            id="screen-icons" width="100%">
                                <tr align="center">
                                    <td align="center" valign="bottom">
                                    <table border="0" cellpadding="0" cellspacing="0" id="screen-icons" width="100%">
                                        <tr align="center">
                                            <td><img src="http://i.imgur.com/pR2WplY.png"></td>
                                        </tr>
                                        <tr align="center">
                                            <td style="padding-top: 1em; font-family: 'Courier New';">Desktop</td>
                                        </tr>
                                    </table>
                                    <!-- monitor -->
                                    </td>

                                    <td align="center" valign="bottom">
                                    <!-- laptop -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="screen-icons" width="100%">
                                        <tr align="center">
                                            <td><img src="http://i.imgur.com/UEW6Y43.png"></td>
                                        </tr>
                                        <tr align="center">
                                            <td style="padding-top: 1em; font-family: 'Courier New';">Laptop</td>
                                        </tr>
                                    </table>
                                    </td>

                                    <td align="center" valign="bottom">
                                    <!-- tablet -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="screen-icons" width="100%">
                                        <tr align="center">
                                            <td><img src="http://i.imgur.com/qPuSh2F.png"></td>
                                        </tr>
                                        <tr align="center">
                                            <td style="padding-top: 1em; font-family: 'Courier New';">Tablet</td>
                                        </tr>
                                    </table>
                                    </td>

                                    <td align="center" valign="bottom" width=
                                    "20%">
                                    <!-- phone -->
                                       <table border="0" cellpadding="0" cellspacing="0" id="screen-icons" width="100%">
                                        <tr align="center">
                                            <td><img src="http://i.imgur.com/VyxjUM9.png"></td>
                                        </tr>
                                        <tr align="center">
                                            <td style="padding-top: 1em; font-family: 'Courier New';">Phone</td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" style="padding-top:1em;">
                            <table border="0" cellpadding="20" cellspacing="0"
                            id="email-footer" style=
                            " border-top: 1px solid #c6c6c6;" width="100%">
                                <tr>
                                    <td align="right" valign="top" width="1px">
                                        <a href="thing" style=
                                        "text-decoration: none; color: #3385FF; font-weight: bold; font-family: 'Arial'">
                                        Terms of service</a>
                                    </td>
                                    <!--  <td align="right" valign="top" width="1%">
                                    <a style="text-decoration: none; color: #3385FF; font-weight: bold" href="ding">Atchai</a>
                                </td> -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>