<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <title>Activate your TodoWhat account</title>
</head>

<body bgcolor="#FAFAFA">
    <table border="0" cellpadding="0" cellspacing="0" id="main-table" style=
    "padding: 3em 0em 0em 0em;" width="100%">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" id=
                "email-container" style=
                "background: #ffffff; border: 1px solid #c6c6c6;" width="600">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0"
                            id="email-header" style="background: #153643;"
                            width="100%">
                                <tr>
                                    <td align="center" valign="top">
                                        <h1 style=
                                        "font-family: Arial; color: #fafafa; margin: 15px 0px 10px 0px;">
                                        TodoWhat</h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="2" cellspacing="0"
                            id="email-body" width="100%">
                                <tr>
                                    <td align="left" style=
                                    "padding: 0.4em 0em 0.4em 1.2em;" valign=
                                    "top">
                                        <h3 style=
                                        "font-family: Arial; font-size: 1.3em; color: #5c5a5b">
                                        Just one click away from knowing what
                                        todo...</h3>

                                        <p style=
                                        "color: #555; font-family: sans-serif;">
                                        To activate your TodoWhat account,
                                        please click <a href="{{link}}" style=
                                        "text-decoration: none; color: #3385FF; font-">
                                        here:</a></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0" style=
                                        "background-color:cornflowerblue; border:1px solid #efefef; border-radius:5px;">
                                        <tr>
                                                <td align="center" style=
                                                "color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold;padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;"
                                                valign="middle">
                                                    <a href="{{link}}" style=
                                                    "color:#FFFFFF; text-decoration:none;"
                                                    target="_blank">Activate
                                                    your account</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" style=
                                    "padding: 1em 1.2em 0em 1.2em;" valign=
                                    "top">
                                        <p style=
                                        "color: #555; font-family: sans-serif;">
                                        Once that's done you'll be able to log
                                        in and keep track of your tasks
                                        wherever you are, with any device.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table border="0" cellpadding="10" cellspacing="0"
                            id="screen-icons" width="100%">
                                <tr>
                                    <td align="center" valign="bottom">
                                        <div id="monitor" style=
                                        "text-align: center; width: 110px; box-sizing: border-box;">
                                        <div id="monitor-screen" style=
                                        "box-sizing: border-box; height: 75px; width: 110px; background: white; border-radius: 5px; border-top: 8px solid; border-right: 5px solid; border-left: 5px solid; border-bottom: 11px solid; border-color: #333;">
                                            </div>

                                            <div id="monitor-stem" style=
                                            "width: 14px; height: 8px; background: #333; margin: auto;">
                                            </div>

                                            <div id="monitor-base" style=
                                            "width: 40%; height: 3px; margin: auto; background: #333;">
                                            </div>
                                        </div>
                                    </td>

                                    <td align="center" valign="bottom">
                                        <div id="laptop" style=
                                        "text-align: center; width: 110px; display: inline-block; box-sizing: border-box;">
                                        <div id="laptop-screen" style=
                                        " margin: auto; width: 96px; height: 66px; border-top: 9px solid; border-right: 5px solid; border-left: 5px solid; border-color: #555; border-bottom: 4px solid #000; border-radius: 5px; box-sizing: border-box; position: relative;">
                                            <div id="webcam" style=
                                            "width: 4px; height: 5px; background: #c6c6c6; border-radius: 10px; position: absolute; top: -7px; left: 41px;">
                                                </div>
                                            </div>

                                            <div id="laptop-base" style=
                                            "width: 110px; height: 9px; background: #444; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px;">
                                            </div>
                                        </div>
                                    </td>

                                    <td align="center" valign="bottom">
                                        <div id="tablet" style=
                                        "text-align: center; box-sizing: border-box;">
                                        <div id="tablet-screen" style=
                                        "width: 50px; border: 9px solid #444; height: 64px; border-radius: 6px; border-right-width: 6px; border-left-width: 6px; border-bottom-width: 11px; position: relative; margin: auto;">
                                            <div id="tablet-button" style=
                                            "width: 6px; height: 6px; background: #efefef; border-radius: 10px; position: absolute; bottom: -8px; right: 21px;">
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td align="center" valign="bottom" width=
                                    "20%">
                                        <div id="phone" style=
                                        "text-align: center; width: 110px; box-sizing: border-box;">
                                        <div id="phone-screen" style=
                                        "width: 32px; border: 9px solid #555; border-left-width: 4px; border-right-width: 4px; height: 40px; border-radius: 6px; position: relative; margin: auto;">
                                            <div id="phone-button" style=
                                            " width: 9px; height: 2px; background: #efefef; position: absolute; top: -5px; right: 11px;">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr align="center" style=
                                "font-family: Courier; color: #333">
                                    <td>Desktops</td>

                                    <td>Laptops</td>

                                    <td>Tablets</td>

                                    <td>Phones</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0"
                            id="email-footer" style=
                            " border-top: 1px solid #c6c6c6;" width="100%">
                                <tr>
                                    <td align="right" valign="top" width="1px">
                                        <a href="thing" style=
                                        "text-decoration: none; color: #3385FF; font-weight: bold">
                                        Terms of service</a>
                                    </td>
                                    <!--  <td align="right" valign="top" width="1%">
                                    <a style="text-decoration: none; color: #3385FF; font-weight: bold" href="ding">Atchai</a>
                                </td> -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>