<div <% if (done) {%> class="struck" <%} %> >
	<span class="handle glyphicon glyphicon-move"></span>
	<input class="toggle" type="checkbox" <% if (done) {%> checked <%} %> >
	<span class="todo-item">
	<%= todoItem %>
	</span>
	<button class="btn btn-danger btn-xs glyphicon glyphicon-remove remove pull-right" href="#"></button>
		<!-- Button trigger modal -->

		<span class="edit"></span>

	<% tags.forEach(function(tag){ %>
		<span class="label label-info"><%= tag %></span>
	<% }) %>     
</div>
